.terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 40px;
    width: 40px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid #0bf803;
    color:  #0bf803;

    &.d {

        border: 1px solid rgb(12, 198, 245);
        color: rgb(12, 198, 245);
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        height: 30px;
        margin-right: 15px;
    }
}