.header {
    width: 50%;

    .title {
        font-size: 70px;
        line-height: 80px;
        font-weight: 300;
        color: lightslategray;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .search-form {
        display: flex;


        .icon {
            position: relative;
        }

        i {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-55%);
        }

        input {
            height: 80px;
            min-width: 70%;
            padding-left: 60px;
            font-size: 24px;
            border: none;
            outline: none;
        }

        i.fa {

            color: lightgrey;
        }

        input::-webkit-input-placeholder {
            color: grey;
            font-size: 24px;
        }

        input:-ms-input-placeholder {
            color: grey;
            font-size: 24px;
        }

        input::-ms-input-placeholder {
            color: grey;
            font-size: 24px;
        }

        input::placeholder {
            color: grey;
            font-size: 24px;
        }

        .search-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 30px;
            min-height: 80px;
            min-width: 200px;
            font-size: 32px;
            color: #fff;
            background-color: rgb(30, 183, 238);
            border: none;
            border-radius: 0 80px 0 0;
        //     -webkit-transition: all 0.3s ease;
        //     -moz-transition: all 0.3s ease;
        //     -o-transition: all 0.3s ease;
        //     transition: all 0.3s ease;
         }

        .search-btn:hover {
            border-radius: 0 40px 0 0;
           
            background-color: rgb(42, 6, 248);
        }
    }
}